*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #31282862;
}
nav{
    background-color: black;
    color: white;
    height: 40px;
}
ul{
    justify-items: left;
    align-items: end;
    text-align: right;
    justify-self: center;
    padding-top: 5px;
    padding-right: 5px;
}
ul li{
    display:inline;
    margin: 4px;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
    font-family: Georgia;
}
a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}